.ImagePlaceholder {

    --defaultShadow: -2px 2px 0px black;
    --borderRadius: 20px;

    pointer-events: all;
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: .3em;
    
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: var(--borderRadius);
        background-color: var(--placeholdergray);
        overflow: hidden;
        
        img.backgroundImage {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &::before {
        content: '';    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--borderRadius);
        background-image: var(--prideFlagImage);
    }
}

.ImagePlaceholderSimple {
    .content {
        &.active {
            div.info {
                display: flex;
            }
            button.info {
                background-color: var(--lgborange);
            }
        }

        div.info {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--defaultwhite);
            background-color: var(--bluetransparent);
            overflow: auto;
            box-sizing: border-box;
            padding: 1.5ch;
            text-align: center;
        }
        
        button.info {
            position: absolute;
            top: 0;
            right: 0;
            margin: .5em;
            padding: .5em 1.4ch;
            border: none;
            background-color: var(--blue);
            border-radius: var(--borderRadius);
            color: var(--defaultwhite);
            box-shadow: var(--defaultShadow);
            cursor: pointer;
        }
    }
}

.ImagePlaceholderComplex {
    --borderWidth: 5px;
    --filterOutlineGlow: 
        drop-shadow(2px 2px 1px var(--blue))
        drop-shadow(2px -2px 1px var(--blue))
        drop-shadow(-2px 2px 1px var(--blue))
        drop-shadow(-2px -2px 1px var(--blue));

    position: relative;
    width: 100%;
    padding: 1em;
    // height: 100%;
    // left: 500px;
    // box-sizing: border-box;

    .label {


        display: none;

        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10%;
        bottom: 40%;
        right: 135%;
        box-sizing: border-box;
        
        width: 100%;        
        
        .labeltext {
            // width: 100%;
            // height: 100%;
            box-sizing: border-box;
            border: var(--borderWidth) dashed var(--defaultwhite);
            border-radius: 50%;
            filter: var(--filterOutlineGlow);
            
            color: var(--defaultwhite);
            padding: 40px;
            z-index: 1;
            
            
        }
        
        // &::before {
        //     content: '';
        //     position: absolute;
        //     border: var(--borderWidth) dashed var(--defaultwhite);
        //     border-radius: 40%;
            
        // }
        
        img.labelbackground {
            --increasedSize: 10px;
            position: absolute;
            top: calc(-1 * var(--increasedSize));
            left: calc(-1 * var(--increasedSize));
            width: calc(100% + (2 * var(--increasedSize)));
            height: calc(100% + (2 * var(--increasedSize)));
            object-position: center;
            object-fit: contain;
            z-index: -1;
            filter: saturate(0) opacity(.3);
            transform: rotate(-15deg);
        }
    }

    .mainElementPointerBox {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.hovered .label {
        display: flex;
    }

}

.ImagePlaceholderComplex.arrow {
    pointer-events: none;
    filter: var(--filterOutlineGlow);

    .arrow__path {
        stroke: var(--defaultwhite);
        fill: transparent;
        stroke-dasharray: 12 12;
        stroke-width: var(--borderWidth);
    }
    .arrow__head line {
        stroke: var(--defaultwhite);
        stroke-width: var(--borderWidth);
    }
}