.ImagePlaceholder {

    --defaultShadow: -2px 2px 0px black;
    --borderRadius: 20px;

    pointer-events: all;
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: .3em;
    filter: drop-shadow(var(--imageDropShadow));
    
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: var(--borderRadius);
        background-color: var(--placeholdergray);
        overflow: hidden;
        
        img.backgroundImage {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div.buttons {

            --margin: .5rem;
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            button {
                position: relative;
                top: 0;
                right: 0;
                margin: var(--margin);
                padding: var(--margin) 1.4ch;
                border: none;
                background-color: var(--blue);
                border-radius: var(--borderRadius);
                color: var(--defaultwhite);
                box-shadow: var(--defaultShadow);
                cursor: pointer;
            }

            .ImagePlaceholderProgressionButtons {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

    }
    
    &::before {
        content: '';    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--borderRadius);
        background-image: var(--prideFlagImage);
    }

    &.ImagePlaceholderAltBorder::before {
        background-image: var(--lesbianFlagImage);
    }
}

.ImagePlaceholderSimple {
    .content {
        &.active {
            div.info {
                display: flex;
            }

            div.buttons button {

                background-color: var(--defaultwhite);
                display: none;
    
                &.info {
                    display: inherit;
                    background-color: var(--lgborange);
                }
            }
        }

        div.info {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--defaultwhite);
            background-color: var(--bluetransparent);
            overflow: auto;
            box-sizing: border-box;
            padding: 1.5ch;
            text-align: center;
        }
        
    }
}

.ImagePlaceholderComplex {
    --borderWidth: 5px;
    --filterOutlineGlow: 
        drop-shadow(2px 2px 1px var(--blue))
        drop-shadow(2px -2px 1px var(--blue))
        drop-shadow(-2px 2px 1px var(--blue))
        drop-shadow(-2px -2px 1px var(--blue));

    position: relative;
    width: 100%;
    padding: 1em;

    .label {


        display: none;

        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10%;
        bottom: 40%;
        right: 135%;
        box-sizing: border-box;
        
        width: 100%;        
        
        .labeltext {
            box-sizing: border-box;
            border: var(--borderWidth) dashed var(--defaultwhite);
            border-radius: 50%;
            filter: var(--filterOutlineGlow);
            
            color: var(--defaultwhite);
            padding: 40px;
            z-index: 1;
            
            
        }
        
        img.labelbackground {
            --increasedSize: 10px;
            position: absolute;
            top: calc(-1 * var(--increasedSize));
            left: calc(-1 * var(--increasedSize));
            width: calc(100% + (2 * var(--increasedSize)));
            height: calc(100% + (2 * var(--increasedSize)));
            object-position: center;
            object-fit: contain;
            z-index: -1;
            filter: saturate(0) opacity(.3);
            transform: rotate(-15deg);
        }
    }

    .mainElementPointerBox {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.hovered .label {
        display: flex;
    }

}

.ImagePlaceholderComplex.arrow {
    pointer-events: none;
    filter: var(--filterOutlineGlow);

    .arrow__path {
        stroke: var(--defaultwhite);
        fill: transparent;
        stroke-dasharray: 12 12;
        stroke-width: var(--borderWidth);
    }
    .arrow__head line {
        stroke: var(--defaultwhite);
        stroke-width: var(--borderWidth);
    }
}

.imageSeedContainer {
    display: flex;
    justify-content: center;

    .ImagePlaceholderProgressionButtons {
        display: none !important;
    }
}

@media (pointer: fine) {
   
    .ImagePlaceholder .content {

        div.buttons .ImagePlaceholderProgressionButtons {
            
            --displayOnShow: flex;
            justify-content: center;
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            gap: 3px;
            
            button {
                position: relative;
                flex: 1;
                border: none;
                border-radius: 0 !important;
                margin: 0 !important;
                background-color: var(--pureblacktransparent) !important;
                
                &:hover {
                    color: var(--lgborange);
                }

                &>* {
                    font-size: var(--h2Size);
                    color: transparent;
                    background-color: var(--lgborange);
                    background-clip: text;
                    -moz-background-clip: text;
                    -webkit-background-clip: text;
                    filter: drop-shadow(var(--imageDropShadow));
                    // background-image: linear-gradient(60deg, var(--lgbred), var(--lgborange), var(--lgbyellow), var(--lgbgreen), var(--lgbblue), var(--lgbpurple), var(--defaultwhite));
                    background-image: linear-gradient(60deg, var(--lgbred), var(--lgborange), var(--lgbyellow), var(--lgbgreen), var(--lgbblue), var(--defaultwhite));
                    background-size: 400%;
                    background-position-x: 100%;
                    transition: background-position-x 350ms ease-in-out;
                }

                &:hover>* {
                    background-position-x: 0%;
                    transform: scale(1.3);
                }
                
                &:active>* {
                    transform: scale(1.15);
                }
            }
            
        }

        &:hover div.buttons .ImagePlaceholderProgressionButtons {
            display: var(--displayOnShow);
        }
    }

}

.ImagePlaceholderController {
    position: relative;
    height: 100%;
    width: 100%;
    &>* {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s ease-in-out;
    }
}