@use 'breakpoints';

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .mainBlock and sidebar go in here
.totalBlock {

    --mainContentHeight: 85vh;

    display: flex;
    flex-direction: column;
    height: var(--mainContentHeight);
}

// header, main content and image placeholders go in here
.mainBlock {
    // temp sizing
    // width: 700px;
    // height: 700px;
    width: 100%;
    height: 100%;
    --borderRadius: 30px;
    --headerHeight: 15vh;

    &>header {
        
        height: var(--headerHeight);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 var(--borderRadius);

        svg {
            flex: 1;
        }

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &>.pageContent {

        --asideWidth: 20%;

        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: nowrap;
        background-image: var(--bluepurpleImage);
        border-radius: var(--borderRadius) var(--borderRadius) 0 0;
        height: calc(100% - var(--headerHeight));
        position: relative;
        padding: var(--borderRadius);

        main {
            width: 100%;
            padding-right: calc(var(--borderRadius) + var(--asideWidth));
            overflow: auto;
        }
        
        aside {
            pointer-events: none;
            box-sizing: border-box;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: var(--asideWidth);
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            gap: 3em;
        }

    }
}

@media (min-width: breakpoints.$minTablet) {

    .mainBlock {

        // width: 60%;

        &>.pageContent {
            grid-template-columns: 4fr 1fr;
            
            main {
                // margin-right: 0;
    
            }
            
            aside {
                display: flex;
            }
        } 
    }

}

@media (min-width: breakpoints.$minDesktop) {
    
    .mainBlock {

        width: 60%;

        &>.pageContent aside>* {
            left: 110%;
        }
    }

    .totalBlock {
        flex-direction: row;

        nav {
            order: -1;
        }
    }

}