@use '_breakpoints';

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .mainBlock and sidebar go in here
.totalBlock {

    --mainContentWidth: 95.5vw;

    display: flex;
    flex-direction: column;
    height: 90%;
    width: var(--mainContentWidth);
}

// header, main content and image placeholders go in here
.mainBlock {
    --borderRadius: var(--borderRadiusLarge);
    --asideWidth: 35%;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    &>header {
        
        height: var(--headerHeight);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        padding-right: var(--borderRadius);

        div.title {
            flex: 1;
            
            .title {
                padding-left: var(--borderRadius);
                display: flex;
                align-items: center;
                line-height: 1em;
                margin: 0;
                height: 100%;
                color: var(--lightblue);
            }
        }

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &>.pageContent {

        --verticalPaddingAside: 2vh;

        box-sizing: border-box;
        background-image: var(--bluepurpleImage);
        border-radius: var(--borderRadius) var(--borderRadius) 0 0;
        height: calc(100% - var(--headerHeight));
        position: relative;
        padding: var(--borderRadius);

        main {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding-right: calc(var(--borderRadius) / 2);
            box-sizing: border-box;
        }
        
        aside {
            pointer-events: none;
            box-sizing: border-box;
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            width: var(--asideWidth);
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            gap: 3em;
            padding: var(--verticalPaddingAside) 0;
        }

    }
}

@media (min-width: breakpoints.$minTablet) {

    .mainBlock {

        &>.pageContent {

            --moveImagesLeftBy: 4%;
            
            main {
                padding-right: calc((var(--borderRadius) / 2) + var(--asideWidth));
            }

            aside {
                display: flex;
                align-items: center;
                padding: 
                    var(--verticalPaddingAside) 
                    calc(var(--borderRadius) + var(--moveImagesLeftBy)) 
                    var(--verticalPaddingAside) 
                    0;
            }
        } 
    }

}

@media (min-width: breakpoints.$minDesktop) {
    
    .mainBlock {
        --asideWidth: 24%;
        width: 60%;
        overflow: initial;
        
        &>.pageContent {

            border-radius: 0 var(--borderRadius) var(--borderRadius) 0;

            main {
                padding-right: calc(var(--borderRadius) + var(--asideWidth));
            }

            aside {

                height: calc(100% + var(--headerHeight));
                padding: 0;

                .ImagePlaceholder {
                    width: 140% !important;
                }
                
                &>* {
                    left: 106%;
                }
            }

        }
    }

    .totalBlock {
        flex-direction: row;

        nav {
            order: -1;
        }
    }

}