@use 'breakpoints';

:root {
  --bodyBackgroundImage: url('images/starfield2.png');
  --prideFlagImage: linear-gradient(180deg, #FE0000 16.66%,
  #FD8C00 16.66%, 33.32%,
  #FFE500 33.32%, 49.98%,
  #119F0B 49.98%, 66.64%,
  #0644B3 66.64%, 83.3%,
  #C22EDC 83.3%);
  --lesbianFlagImage: linear-gradient(180deg, #A60061 14.285%,
  #B95393 14.285%, 28.57%, #D260A7 28.57%, 42.855%,
  #EDEDEB 42.855%, 57.14%, #E5ABD0 57.14%, 71.425%,
  #C74D52 71.425%, 85.71%, #8C1D00 85.71%);
  --lgbred: #FE0000;
  --lgborange: #FD8C00;
  --lgbyellow: #FFE500;
  --lgbgreen: #119F0B;
  --lgbblue: #0644B3;
  --lgbpurple: #C22EDC;

  --pureblack: #000000;
  --pureblacktransparent: #00000099;
  --purewhite: #FFFFFF;
  --defaultwhite: #EBEAF8;
  --placeholdergray: #BDBDBD;
  --lightblue: #BDCFFF;
  --lightbluetransparent: #bdcfff66;
  --blue: #3354A8;
  --bluetransparent: #3354A8EE;
  --bluepurpleImage: linear-gradient(180deg, rgba(42, 68, 137, 0.6) 0%, #1B051E 100%);

  --borderRadiusSmall: 15px;
  --borderRadiusMedium: 20px;
  --borderRadiusLarge: 25px;

  --h1Size: 36px;
  --h2Size: 36px;
  --h3Size: 22px;
  --h4Size: 16px;
  --h5Size: 15px;
  --h6Size: 14px;
  --pSize: 14px;

  --headerHeight: 15.5vh;
  --borderWidthThick: 5px;

  --imageDropShadow: -3px 4px 0px var(--pureblacktransparent);
}

@media (min-width: breakpoints.$minTablet) {
  :root {
    --h1Size: 48px;
    --h2Size: 27px;
    --h3Size: 27px;
    --h4Size: 20px;
    --h5Size: 18px;
    --h6Size: 16px;
    --pSize: 16px;
  }
}

@media (min-width: breakpoints.$minDesktop) {
  :root {
    --h1Size: 48px;
    --h2Size: 40px;
    --h3Size: 28px;
    --h4Size: 22px;
    --h5Size: 19px;
    --h6Size: 18px;
    --pSize: 16px;
  }
}

@media (min-width: 1600px) {
  :root {
    --h1Size: 60px;
  }
}

/* Font stuff */
* {
  font-family: 'Jura', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: var(--pSize);
  color: var(--defaultwhite);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jockey One', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.1em;
}
h1 { font-size: var(--h1Size); }
h2 { font-size: var(--h2Size); }
h3 { font-size: var(--h3Size); }
h4 { font-size: var(--h4Size); }
h5 { font-size: var(--h5Size); }
h6 { font-size: var(--h6Size); }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  background-image: var(--bodyBackgroundImage);
  background-position: center right;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
