.NavButton {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--lightblue);
    text-decoration: none;
    z-index: 1;
    * { 
        font-size: var(--h3Size);
        font-family: 'Jockey One', Verdana, Geneva, Tahoma, sans-serif; 
    }

    &>.buttonStatus {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &>.label {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: .35em;
        text-align: center;
        &>* {
            margin: 0;
        }
        svg text {
            fill: var(--lightblue);
        }
    }

    // inactive and active state variants

    &.active {
        cursor: default;

        &>.buttonStatus {
            background-color: var(--lgborange);
            width: 25%;
            &::before {
                content: '>';
                display: block;
                color: var(--lightblue);
            }
        }
    }

    &.inactive {
        &>.buttonStatus {
            background-color: var(--lgbgreen);
            width: 2%;
            transition: width .2s ease;
        }
    }

    // actions

    &.inactive:hover .buttonStatus {
        width: 20%;
        animation: turnWhite 125ms ease-in-out forwards;
    }
}

.GenericButton {
    --shadowBlur: 8px;
    --shadowColor: var(--bluetransparent);

    display: block;
    background-image: var(--prideFlagImage);
    padding: .25em .25em;
    border-radius: var(--borderRadiusSmall);
    width: clamp(12ch, 22ch, 22ch);
    border: none;
    filter: drop-shadow(0px 0px var(--shadowBlur) var(--shadowColor));
    transition: filter 80ms ease-in-out;

    margin: 
        calc(var(--shadowBlur) + max(var(--dropShadowDirectionY), -1 * var(--dropShadowDirectionY))) 
        calc(var(--shadowBlur) + max(var(--dropShadowDirectionX), -1 * var(--dropShadowDirectionX)));
    cursor: pointer;
    
    .content {
        border-radius: var(--borderRadiusSmall);
        background-color: var(--defaultwhite);
        color: var(--blue);
        font-size: var(--h6Size);
        font-weight: bold;
        padding: .2em 1em;
        height: 100%;
        box-sizing: border-box;
    }

    &:active .content {
        color: var(--lgborange);
    }

    &:hover {
        --shadowColor: var(--lgborange);
    }
}

.GenericDropdown {

    --transitionStyle: 100ms ease-in-out;
    --borderThickness: 2px;
    --borderStyle: var(--borderThickness) solid var(--blue);

    display: block;
    background-color: var(--lightblue);
    border: var(--borderStyle);
    box-sizing: border-box;

    button {
        border: none;
        background-color: inherit;
        width: 100%;
        text-align: right;
        padding: .2em 1ch;
        cursor: pointer;
        
        &:hover, &:focus {
            background-color: var(--blue);
            color: var(--defaultwhite);
            font-weight: bold;
        }
    }

    .selector {

        &::before {
            content: '▼';
            transform: rotate(-90deg);
            display: block;
            transition: transform var(--transitionStyle);
            text-align: left;
            position: absolute;
        }
    }
    
    .options {            
        --clip: inset(0% 0% 100% 0%);

        position: absolute;
        user-select: none;
        right: calc(-1 * var(--borderThickness));
        width: calc(100% + 2 * var(--borderThickness));
        background-color: var(--lightblue);
        border: var(--borderStyle);
        box-sizing: border-box;

        -webkit-clip-path: var(--clip);
        clip-path: var(--clip);
        transition: clip-path var(--transitionStyle);
        
        .option {
            display: block;
        }
    }

    &.active {
        .selector::before {
            transform: rotate(0deg);
        }
    
        .options {
            --clip: inset(0% 0% 0% 0%);
            user-select: initial;
        }
    } 
}

@keyframes turnWhite {
    to {
        background-color: var(--defaultwhite);
    }
}

@media (min-width: 850px) {
    .NavButton {

        * { 
            font-size: var(--h3Size);
        }
    }
}