@use '../breakpoints';

.card {
    display: flex;
    background-color: var(--lightbluelighttransparent);
    border-radius: var(--borderRadiusSmall);
    color: var(--pureblack);
    * { color: var(--pureblack); }
    
    --resizePx: 2px;
    --cardTitleSize: calc(var(--h4Size) - var(--resizePx));
    --cardSize: calc(var(--pSize) - var(--resizePx));
    font-size: var(--cardSize);
    box-shadow: var(--dropShadowDirection) 4px var(--lgbblue); //#0006;
}

.TeamMemberCard {
    --borderStyle: 4px solid var(--lgbblue);
    --defaultHeight: 13rem;
    height: var(--defaultHeight);
    margin: .5rem 7px;
    gap: 3ch;
    padding: 1rem 2ch;
    box-sizing: border-box;
    align-items: center;
    text-align: justify;
    text-align-last: center;

    .imageContainer {
        position: relative;
        // width: 100%;
        height: 100%;
        flex: 1;
        
        img {
            width: 100%;
            height: 100%;
            // border-radius: 50%;
            border-radius: var(--borderRadiusSmall);
            border: var(--borderStyle);
            box-sizing: border-box;
            object-fit: cover;
        }
        
    }

    .textContainer {

        display: flex;
        flex-direction: column;
        gap: .25em;
        flex: 2;
        overflow: auto;
        max-height: 100%;
        * { font-size: var(--cardSize); }

        .name {
            position: relative;
            font-size: var(--cardTitleSize);
            text-align: center;
        }
    
        .about {
            text-align-last: justify;

            &::before {
                content: "About: ";
                font-weight: 900;
                color: var(--lgbblue);
            }
        }

        .contact {
            font-style: italic;
            text-align-last: left;
            &::before {
                content: "Contact: ";
                font-weight: 900;
                color: var(--lgbblue);
            }
        }
    }

}

// designed to prevent scroll behavior on normal display zooms
@media 
    ((min-width: breakpoints.$minDesktop) and (max-width: 1300px)) or 
    ((min-width: breakpoints.$minTablet) and (max-width: 750px)) {
    .TeamMemberCard {
        height: calc(var(--defaultHeight) + 6em);
    }
}